.{
    margin: 0;
	padding: 0;
}

.container{
    text-align: center;
    background-image: url(img/Backgrond-color.jpg);
    height: 100vh;
}

.titulo{
    color: white;
}

span {

    background-color: blueviolet;
    padding: 8px;
    margin-right: 8px;
    border-radius: 6px;
    color: white;
    text-align: center;
}
